
body {
    background-color: #f9e6da;
    margin:0;
    padding:0;
}


.headerContainer{
    margin-top: 2%;
    margin-left: 15%;
    font-family: 'Lora', sans-serif;
}

.primaryLinkHighlighted{
    font-weight: 300;
    color: #080808;
    padding-left: 1%;
    text-decoration: none;
}

.primaryLinkHighlighted a{
}

.primaryLink{
    font-weight: 300;
    padding-left: 1%;
    text-decoration: underline;
}
.primaryLink a{
    text-decoration: none;
}
.primaryLink:hover{
    color: #080808;
    text-decoration: underline;
}
.primaryLink a:visited:hover{
    color: #080808;
    text-decoration: underline;
}
.primaryLink a:visited{
    color: #080808;
    text-decoration: none;
}
a{
    color:inherit;
}

#titleHeader a{
    text-decoration: none;
}

#titleHeader a:visited{
    text-decoration: none;
}



#titleHeader{
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 2%;
    color: #2c2c2c;
}

#navbar
{
    font-family: 'Poppins', sans-serif;
    background-color:white;
    width: 100%;
    height: 6em;
    display:table;
}


#navLinks a{
    text-decoration: none;
    text-align: right;
    list-style: none;
    display: inline;
    margin-right: 1em;
    font-size: 1.1em;
}

#navLinks{
    padding-left: 80em;
    color: black;
    display:table-cell;
    vertical-align:middle;
}

#logo_box{
    margin-top: 1em;
    display:table-cell;
    vertical-align:middle;
}

#logo{
    margin-left:1.5em;
}

#bottomnav
{
    position:absolute;
    bottom:0;
    padding-bottom: 2em;
    padding-left: 2em;
}

#bottomnav img{
    padding-top: 4%;
    padding-right: 0.35em;
    margin-left: 0.35em;
    margin-top: 0.35em;
    margin-bottom: 0.2em;
    width: 1.3em;
    height: 1.3em;
    border:0;
}


#innerContainer{
    margin-top:10em;
}


.contentBox {
    float: left;
    width: 50%;
}

#about-intro{
    margin-bottom: 2%;
    font-size: 1.3em;
    color: rgba(47, 47, 47, 0.99);
    font-weight: 300;
    margin-top: 10%;
}

#about-expanded{
    line-height: 1.6;
    font-family: 'Prata', serif;
    font-size: 1.7em;
    color: #262626;
}

#name{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    color: black;

}

#about-expanded a {
    text-decoration: underline;
}


#navLinks a:hover{
    color: rgb(255, 74, 84);
}


#about-expanded a:hover{
    text-decoration: none;
    color: rgb(255, 74, 84);
}


#footer{
    position: absolute;
    bottom: 0;
    width: 20%;
}

#contacts{
    margin-bottom:20%;
    font-family: 'Lora', sans-serif;
    font-size: 0.9em;
}

.tab
{
    width: 5%;
}

#contacts a{
    text-decoration: none;
    color: #2c2c2c;
}



/* CSS */
.buttonmain {
    margin-top: 5em;
    background-color: #f9e6da;
    align-items: center;
    appearance: none;
    border-radius: 24px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    border: 1px solid black;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    transition: background-color 1s;
    z-index: 0;
}

.buttonmain:hover {
    background: white;
    transition: background-color 1s;
}

.buttonmain:active {
    outline: none;
}

.buttonmain:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.circlebutton {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    transition: background 1s;
}
.circlebutton:hover {
    transition: background 1s;
    background: #F9A093;
}
