/* Global */
@font-face {
    font-family: SwedenSansRegular;
    src: url(../font/swedensans/swedensansregular.woff);
}

@font-face {
    font-family: SwedenSansBold;
    src: url(../font/swedensans/swedensansbold.woff);
}

html,
body {
    height: 100%;
}

body{
    background-color: #0E2338;
}

h1 {
    font-family: "sweden_sansbold", "Noto Sans", serif;
    font-size: 48px;
}

h2 {
    font-family: "SwedenSans", "Noto Sans", serif;
    font-size: 24px;
    font-weight: normal;
}

h3{
    font-family: "SwedenSans", "Noto Sans", serif;
    font-weight: normal;
    font-size: 20px;
}

/* Main content */
#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.7fr;
    grid-template-rows: 4% 35% 15% 40% 6%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #F8F3DE;
    font-family: "SwedenSansRegular", "Noto Sans", serif;
    font-weight: normal;
    font-size: 12px;
}

#navbar { grid-area: 1 / 1 / 2 / 4; }
#intro { grid-area: 2 / 2 / 3 / 3; }
#elevator { grid-area: 3 / 2 / 4 / 3; }
#div4 { grid-area: 4 / 2 / 5 / 3; }
#contactsnav { grid-area: 5 / 1 / 6 / 4; }

#name{
    color: #ffec9b;
}

/* Navbar */
#navbarcontent {
    display: grid;
    grid-template-columns: 5% 74% 7% 7% 7%;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    margin-top: 10px;
    width: 100%
}

.navlinks{
    font-size: 15px;
    text-align: left;
}

.navlinks a{
    text-decoration: none;
    color: #F8F3DE;
    font-family: "SwedenSansRegular", "Noto Sans", serif;
}

.navlinks a:hover{
    text-decoration: underline;
}



#spacer { grid-area: 1 / 2 / 2 / 3; }
#projects { grid-area: 1 / 3 / 2 / 4; }
#photography { grid-area: 1 / 4 / 2 / 5; }
#blog { grid-area: 1 / 5 / 2 / 6; }
#logo {
    margin-left:1em;
    font-size: 20px;
    grid-area: 1 / 1 / 2 / 2;
}

#logo a {
    text-decoration: none;
    color: #F8F3DE;
    font-family: "SwedenSansRegular", "Noto Sans", serif;
}

/* Contact bar */
#contactsbar {
    display: grid;
    grid-template-columns: 47% 3% 3% 47%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#spacer1 { grid-area: 1 / 1 / 2 / 2; }
#email { grid-area: 1 / 2 / 2 / 3; }
#github { grid-area: 1 / 3 / 2 / 4; }
#spacer2 { grid-area: 1 / 4 / 2 / 5; }