
body {
    background-color: rgba(16, 14, 23, 0.99);
}

.headerContainer{
    margin-top: 2%;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
}

.primaryLinkHighlighted{
    font-weight: 300;
    color: #9e9e9e;
    padding-left: 1%;
    text-decoration: none;
}

.primaryLinkHighlighted a{
}

.primaryLink{
    font-weight: 300;
    color: #9e9e9e;
    padding-left: 1%;
    text-decoration: none;
}
.primaryLink a{
    text-decoration: none;
}
.primaryLink:hover{
    color: #007fd7;
    text-decoration: underline;
}
.primaryLink a:visited:hover{
    color: #007fd7;
    text-decoration: underline;
}
.primaryLink a:visited{
    color: #9e9e9e;
    text-decoration: none;
}
a{
    color:inherit;
}

#titleHeader a{
    text-decoration: none;
}

#titleHeader a:visited{
    text-decoration: none;
}



#titleHeader{
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 2%;
    color: #2c2c2c;
}

#navLinks{
    padding-left: 50%;
    color: #ababab;
}

#nav img{
    padding-top: 4%;
    padding-right: 2%;
    width: 1.5em;
    vertical-align:bottom;
    border:0;
}


#innerContainer{
    font-family: 'Roboto', sans-serif;
    color:white;
}

#outerContainer{
    margin-left: 12%;
}

.contentBox {
    float: left;
    margin-top:1%;
    width: 50%;
}

#about-intro{
    margin-bottom: 5%;
    font-size: 1.3em;
    color: rgba(221,221,220,0.99);
    font-weight: 300;
    margin-top: 10%;
}

#about-expanded{
    margin-top: 2%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #ffffff;
}

#name{
    font-size: 2.5em;
    font-weight: 400;
    color: white;

}

#redstop{
    color: rgb(255, 124, 129);
}

a {
    text-decoration: none;
    color: rgb(255, 124, 129);
}

#plant{
    margin-top: -2%;
    height: 35em;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 74, 84);
}


#footer{
    position: absolute;
    bottom: 0;
    width: 20%;
}

#contacts{
    margin-bottom:20%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.tab
{
    width: 5%;
}

#contacts a{
    text-decoration: none;
    color: #2c2c2c;
}


#navbar
{
    border-bottom: 1px solid white;
    margin-right: 60%;
}

#navbar ul{
    list-style: none;
    padding-left: 0;
}

#navbar ul > li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-right: 2%;
    font-weight: 400;
    font-size: 1.1em;
}