#titleHeader{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 2%;
    color: #2c2c2c;
}

#outerContainer{
    margin-left: 15%;
}

#about-intro{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-top: 15%;
}

#about-expanded{
    margin-top: 3%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #2c2c2c;
}

#study{
    text-decoration: none;
    color: #66c4b0;
    background-color: #f2f2f2;
}
#company{
    text-decoration: none;
    color: #dd7b1f;
    background-color: #f2f2f2;
}

#study a:visited{
    text-decoration: none;
    color: #dd7b1f;
}
#company a:visited{
    text-decoration: none;
    color: #dd7b1f;
}


#footer{
    position: absolute;
    bottom: 0;
}

#contacts{
    margin-bottom:20%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.tab
{
    width: 5%;
}

#contacts a{
    text-decoration: none;
    color: #2c2c2c;
}
body{
    background-color: #fafafa;
}